
	<section class="page-title">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="page-headd-title">
						<h2> Products </h2>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="<%= root_path %>">Home</a></li>
							<li class="breadcrumb-item active"> Products </li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="feature-section product-padd">
		<div class="container">
			<div class="feature-title text-center margin-btm40">
				<h2> Our Products </h2>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="product-section">
							<% @products.each do |product| %>
							<%if product.nil? %>
			                <p>No records </p>
			               <% else %>
							<div class="col-sm-4 margin-btm40">
								<div class="product-inner">
									<div class="single-item center">
										<figure class="image-box">
											<%= image_tag product.photo.url(:medium) %>
										</figure>
										<div class="content">
											<h2> <%= product.name %> </h2>
											<span class="price"> 
												<i class="fa fa-inr"></i>
												<%= product.price %>
											</span>
										</div>
										
										<!-- Overlay -->
										<div class="overlay-box">
											<div class="inner">
												<div class="top-content">
													<ul>
														<li> 
															<a href="product-inner.php">
																<i class="fa fa-eye"></i>
															</a>
														</li>
													</ul>
												</div>
												<div class="bottom-content">
													<p>  <%= product.description %>  
														<a href="product-inner.php"> Read More ... </a>
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div> <!-- col-sm-4 -->
							<% end %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Close Products Section -->